/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}

.ex-2-square:active{
  animation-name: click-quadrato;
  animation-duration: 4s;
}



@keyframes click-quadrato {
  0%{
    width: 0%;
  }
  10%{
    width: 10%;
  }
  20%{
    width: 20%;
  }
  30%{
    width: 30%;
  }
  40%{
    width: 40%;
  }
  50%{
    width: 50%;
  }
  60%{
    width: 60%;
  }
  70%{
    width: 70%;
  }
  80%{
    width: 80%;
  }
  90%{
    width: 90%;
  }
  100%{
    width: 100%;
  }
}

.ex-3-square:hover{
animation-name: box_border-radius;
animation-duration: 2s;
}

@keyframes box_border-radius{
  0%{
    border-radius: 0% ;
  }
  10%{
    border-radius: 10% ;
  }
  20%{
    border-radius: 20% ;
  }
  30%{
    border-radius: 30% ;
  }
  40%{
    border-radius: 40% ;
  }
  50%{
    border-radius: 50% ;
  }
  60%{
    border-radius: 60% ;
  }
  70%{
    border-radius: 70% ;
  }
  80%{
    border-radius: 80% ;
  }
  90%{
    border-radius: 90% ;
  }
  100%{
    border-radius: 100%;
  }
}

.ex-4-square:hover{
  color: rgba(0, 0, 0, 128);
}
